.dark-mode {
    // line-height: 32px!important;

    & .tag{
        border-width: 1px;
    }
}

.tag {
    box-sizing: border-box;
    // border-width: 3px;
    border-style: solid;
    // line-height: 26px!important;
    
    &.white{
        border-color: white!important;
    }

    &.pink{
        border-color: #e966bd!important;
    }
    
    &.gold{
        border-color: #cda349!important;
    }
    
    &.green{
        border-color: #2da033!important;
    }
    
    &.crimson{
        border-color: #990000!important;
    }
}