.tag {
    border: 1px solid white;

    &.crimson{
        border-color: #780000;
    }
    
    &.gold{
        border-color: #cda349;
    }
    
    &.green{
        border-color: #780000;
    }
    
    &.yellow{
        border-color: #780000;
    }
}